/* Estilos gerais */
@import "_variaveis";

:root {
  font-size: 60%; /* controle das medidas rem */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background: $color-background;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font-weight: 500;
  font-family: Poppins;
  font-size: 1.6rem;
  color: $color-text-base;
}

#container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%; /* todo 1rem vai ser relativo a 10px */
  }
}

@import "page-landing";
@import "page-study";
